header .top
{
	width: 1920px;
	height: 90px;
	background-color: #FFFFFF;
	position: relative;
	left: 50%;
	margin-left: -960px;
}
header .top #logo
{
	width: 240px;
	height: 60px;
	position: absolute;
	left: 320px;
	top: 13px;
}
header .account
{
	width: 210px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	position: absolute;
	right: 300px;
	top: 60px;

}
header .account img
{
	float: left;
	width: 18px;
	height: 18px;
}
header .account p
{
	float: left;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	color: #4c90f4;
}
header .account #cancel
{	
	border: none;
	background-color: #FFFFFF;
	color: #534f4f;
	font-size: 16px;
}
header .nav
{
	width: 100%;
	height: 60px;
	background-color: #4c90f4;
	margin: 0 auto;
}
header .nav .nav-ul
{
	width: 1000px;
	height: 60px;
	margin: 0 auto;
	text-align: center;
}
header .nav .nav-ul li
{
	width: 200px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 22px;
	float: left;
}
header .nav .nav-ul li:nth-child(5)
{
	background-color: #1b77b6;
}
header .nav .nav-ul li:hover
{
	background-color: #1b77b6;
}
header .nav .nav-ul li a
{
	color: #FFFFFF;
}



section
{
	width: 100%;
	height: 1060px;
	background-color: #e4e5ec;
}
section .box
{
	width: 1280px;
	height: 800px;
	background: #E4E5EC;
	margin: 0 auto;
	padding-top: 80px;
}
section .left
{
	width: 320px;
	height: 460px;
	padding-top: 160px;
	background: no-repeat url(../img/nav-bg.png);
	float: left;
	margin-right: 30px;
}
section .left ul
{
	width: 200px;
	height: 110px;
	padding-left: 60px;
}
section .left ul li
{
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	
}
section .left ul li img
{
	width: 12px;
	height: 12px;
	margin-right: 10px;
}
section .left ul li:nth-child(1) a
{
	color: #4c90f4;
}
section .left ul li:nth-child(2) a
{
	color: #9a9ea3;
}
section .right
{
	width: 920px;
	height: 800px;
	background-color: #E4E5EC;
	float: left;
}
section .right .head
{
	width: 920px;
	height: 50px;
	margin-bottom: 20px;
	background-color: #FFFFFF;
}
section .right .head p
{
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	color: #4c90f4;
}
section .right .content
{
	width: 920px;
	height: 700px;
	padding-top: 60px;
	padding-left: 100px;
	background-color: #FFFFFF;
}
section .right .content form
{
	width: 600px;
	height: 300px;
}
section .right .content form div
{
	margin-bottom: 40px;
}
section .right .content form label
{
	font-size: 20px;
	color: #9a9ea3;
}
section .right .content form input
{
	width: 240px;
	height: 40px;
	border-radius: 2%;
	border: 1px #CDCDCC solid;
}
section .right .content #rew
{
	width: 100px;
	height: 50px;
	font-size: 20px;
	color: #FFFFFF;
	border: none;
	border-radius: 2%;
	background-color: #1296db;
	margin-left: 300px;
}



footer
{
	width: 100%;
	height: 200px;
	margin: 0 auto;
	background-color: #FFFFFF;
	padding-bottom: 30px;
}
footer .footer
{
	width: 1920px;
	height: 200px;
	margin: 0 auto;
	position: relative;
	left: 50%;
	margin-left: -960px;
}

footer .footer .weixin
{
	width: 152px;
	height: 200px;
	position: absolute;
	top: 20px;
	left: 380px;
	
}
footer .footer .weixin p
{
	width: 152px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	color: #534F4F;
	margin-bottom: 15px;
}
footer .footer .server
{
	position: absolute;
	top: 40px;
	right: 380px;
	font-size: 20px;
	color: #b0acac;
}
footer .footer .server p
{
	color: #534F4F;
	margin-bottom: 30px;
		
}